backend/app/routes/__pycache__/youtube_routes.cpython-313.pyc
backend/app/routes/__pycache__/tiktok_routes.cpython-313.pyc
backend/app/routes/__pycache__/instagram_routes.cpython-313.pyc
backend/app/routes/__pycache__/__init__.cpython-313.pyc
backend/app/utils/__pycache__/file_utils.cpython-313.pyc
backend/app/services/__pycache__/tiktok_service.cpython-313.pyc
backend/app/services/__pycache__/youtube_service.cpython-313.pyc
backend/app/services/__pycache__/instagram_service.cpython-313.pyc
backend/app/__pycache__/__init__.cpython-313.pyc
backend/ce606e87eda1e51150e42943b05dee01
backend/.env
backend/generate_key.py

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/

# Editor/IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Docker
*.env
